<!doctype html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="{% static 'css/password_view.css' %}">
        <script type="application/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script type="application/javascript" src="{% static 'js/password_view.js' %}"></script>
        <title>Password</title>
    </head>

    <body>
        <div id="password_container">
            <div id="title">
                {{ title }}
            </div>
            {% for x in data %}
                <div class="uname_pswd">
                    <div class="input_group">
                        <input type="text" disabled value="{{ x.username }}">
                        <img class='copy_image' src="{% static  'img/copy.svg' %}" alt="copy">
                    </div>
                    <div class="input_group">
                        <input type="text" disabled value="{{ x.password }}">
                        <img class='copy_image' src="{% static  'img/copy.svg' %}" alt="copy">
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>